# Tuple

In [3]:
t1=()

In [4]:
t2=(10,20,30)

In [5]:
t3 = (10.77,30.66,60.89)

In [6]:
t4 = ('one','two' , "three")

In [7]:
t5 = ('Asif', 25 ,(50, 100),(150, 90))

In [8]:
t6 = (100, 'Asif', 17.765)

In [9]:
t7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [10]:
len(t7)

6

# Tuple Indexing

In [11]:
t2[0]

10

In [12]:
t4[0]

'one'

In [13]:
t4[0][0]

'o'

In [14]:
t4[-1]

'three'

In [15]:
t5[-1]

(150, 90)

# Tuple Slicing

In [17]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [18]:
mytuple[0:3]

('one', 'two', 'three')

In [19]:
mytuple[2:5]

('three', 'four', 'five')

In [20]:
mytuple[:3]

('one', 'two', 'three')

In [21]:
mytuple[-3:]

('six', 'seven', 'eight')

In [22]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items

In [23]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
del mytuple

In [25]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [26]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Loop through a tuple

In [27]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [29]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [30]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [31]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [32]:
mytuple1.count('one')

3

In [33]:
mytuple1.count('two')

2

# Tuple Membership

In [34]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [35]:
'one' in mytuple

True

In [36]:
'five' in mytuple

True

In [37]:
'ten' in mytuple

False

In [38]:
if 'three' in mytuple:
    print('three is present in the tuple')
else:
    print('three is not present in the tuple')

three is present in the tuple

In [39]:
if 'eleven' in mytuple:
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

# Index Position

In [40]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
mytuple.index('three')

2

In [42]:
mytuple.index('eight')

7

# Sorting

In [45]:
mytuple2 = (43,67,99,12,6,90,67)

In [46]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [50]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]

# Sets

In [52]:
s=set()

In [53]:
s

set()

In [54]:
myset= {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [55]:
len(myset)

5

In [57]:
my_set = {1,1,2,2,3,4,5,5} 
my_set

{1, 2, 3, 4, 5}

In [58]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [59]:
myset2 = {'Asif' , 'John' , 'Tyrion'} 
myset2

{'Asif', 'John', 'Tyrion'}

In [60]:
myset3 = {10,20, "Hola", (11, 22, 32)}
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [61]:
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [65]:
myset3 = {10,20, "Hola", (11, 22, 32)}
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [66]:
myset4 = set()
type(myset)

set

In [67]:
print(type(myset))

<class 'set'>

In [68]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) 
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [1]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [2]:
for i in myset:
    print(i)

four
eight
three
one
six
seven
two
five

In [4]:
for i in enumerate(myset):
    print(i)

(0, 'four')
(1, 'eight')
(2, 'three')
(3, 'one')
(4, 'six')
(5, 'seven')
(6, 'two')
(7, 'five')

# Set Membership

In [6]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [7]:
'one' in myset

True

In [8]:
'ten' in myset

False

In [12]:
if 'three' in myset:# Check if 'three' exist in the set 
    print('Three is present in the set') 
else: 
    print('Three is not present in the set')

Three is present in the set

In [14]:
if 'eleven' in myset: # Check if 'eleven' exist in the list 
    print('eleven is present in the set') 
else: 
    print('eleven is not present in the set')

eleven is not present in the set

# Add & Remove Items

In [15]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [16]:
myset.add('NINE')

In [17]:
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [20]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])
myset

{'E',
 'ELEVEN',
 'L',
 'N',
 'NINE',
 'T',
 'TEN',
 'TWELVE',
 'V',
 'W',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [21]:
myset.remove('E')
myset

{'ELEVEN',
 'L',
 'N',
 'NINE',
 'T',
 'TEN',
 'TWELVE',
 'V',
 'W',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [22]:
myset={'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [25]:
myset.update(['TEN','ELEVEN'])
myset

{'ELEVEN',
 'TEN',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [26]:
myset.discard('ELEVEN')
myset

{'TEN', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
myset.clear()
myset

set()

# Copy Set

In [28]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [29]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
myset1 = myset # Create a new reference "myset1" 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [32]:
id(myset) , id(myset1)

(2677373501728, 2677373501728)

In [33]:
my_set = myset.copy() # Create a copy of the list 
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [34]:
id(my_set)

2677373482592

In [35]:
myset.add('nine') 
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [37]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

In [40]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [41]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [43]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [44]:
A.update(B,C)

In [45]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [46]:

A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [47]:
A&B

{4, 5}

In [48]:
A.intersection(B)

{4, 5}

In [49]:
A.intersection_update(B)

In [50]:
A

{4, 5}

In [51]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [52]:
A-B

{1, 2, 3}

In [53]:
A.difference(B)

{1, 2, 3}

In [54]:
B-A

{6, 7, 8}

In [56]:
B.difference(A)

{6, 7, 8}

In [57]:
B.difference_update(A)

In [58]:
B

{6, 7, 8}

In [59]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [60]:
A^B

{1, 2, 3, 6, 7, 8}

In [61]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [62]:
A.symmetric_difference_update(B)

In [63]:
A

{1, 2, 3, 6, 7, 8}

In [64]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [65]:
B.issubset(A)

True

In [66]:
A.issuperset(B)

True

In [70]:
C.isdisjoint(A)

True

In [71]:
B.isdisjoint(A)

False

In [72]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
sum(A)

45

In [74]:
max(A)

9

In [75]:
min(A)

1

In [76]:
len(A)

9

In [77]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [78]:
D= sorted(A)

In [79]:
D

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
D= sorted(A,reverse=True)

In [81]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [83]:
mydict = dict() # empty dictionary 
mydict

{}

In [85]:
mydict = {} # empty dictionary 
mydict

{}

In [86]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [87]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [88]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [90]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [92]:
mydict.keys()

dict_keys([1, 'A', 3])

In [93]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [94]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [95]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [98]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat','hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [99]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'a': None, 'd': None, 'c': None, 'b': None}

In [100]:
keys = {'a' , 'b' , 'c' , 'd'} 
values=10
mydict3 = dict.fromkeys(keys,values)  
mydict3

{'a': 10, 'd': 10, 'c': 10, 'b': 10}

In [101]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'a': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30], 'b': [10, 20, 30]}

In [102]:
value.append(40) 
mydict3

{'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

In [103]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [104]:
mydict[1]

'one'

In [106]:
mydict.get(1)

'one'

In [107]:
mydict[3]

'three'

In [108]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [109]:
mydict1['Name']

'Asif'

In [110]:
mydict1.get('Name')

'Asif'

# Add, Remove & Change Items

In [114]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [116]:
mydict1['DOB']=1992
mydict1['Address']= 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [119]:
dict1={'DOB': 1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [120]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [121]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [122]:
mydict1.popitem()

('Address', 'Delhi')

In [123]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [124]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [125]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [126]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [127]:

mydict1 = mydict

In [128]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [129]:
id(mydict1)

2677375830016

In [130]:
id(mydict)

2677375830016

In [131]:
mydict2 = mydict.copy()

In [132]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [134]:
mydict['Address'] = 'Mumbai'

In [135]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [136]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [137]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [139]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job' : 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [144]:
for i in mydict1:
    print(i, ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [145]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

In [146]:
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [147]:
'Name' in mydict1

True

In [148]:
'Asif' in mydict2 # Membership test can be only done for keys.

False

In [149]:
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [150]:
all(mydict1)

True